#!KAMAILIO

debug=3
log_stderror=yes
children=4

enable_tls=yes

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060
listen=tls:0.0.0.0:8443

alias="13.220.116.58"

#### MODULES ####

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "pv.so"

loadmodule "db_mysql.so"
loadmodule "auth.so"
loadmodule "auth_db.so"

loadmodule "rtpengine.so"

# WebRTC
loadmodule "tls.so"
loadmodule "xhttp.so"
loadmodule "websocket.so"

#### PARAMS ####

modparam("auth_db", "db_url", "mysql://kamailio:kamailiorw@127.0.0.1/kamailio")
modparam("auth_db", "calculate_ha1", 1)
modparam("auth_db", "password_column", "password")

modparam("usrloc", "db_mode", 2)
modparam("usrloc", "db_url", "mysql://kamailio:kamailiorw@127.0.0.1/kamailio")

modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:2223")

modparam("tls", "config", "/etc/kamailio/tls.cfg")

#### ROUTING ####

request_route {

    force_rport();

    # NAT fix
    if (nat_uac_test("19")) {
        fix_nated_contact();
    }

    # WebSocket handshake
    if ($rm == "GET" && $hdr(Upgrade) =~ "websocket") {
        if (!ws_handle_handshake()) {
            exit;
        }
        exit;
    }

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    # REGISTER
    if (is_method("REGISTER")) {

        if (!auth_check("$fd", "subscriber", "1")) {
            auth_challenge("$fd", "0");
            exit;
        }

        save("location");
        exit;
    }

    # INVITE
    if (is_method("INVITE")) {

        record_route();

        # WebRTC RTP handling
        rtpengine_manage("replace-origin replace-session-connection ICE=remove");

        t_on_reply("1");

        # Local users
        if (lookup("location")) {
            t_relay();
            exit;
        }

        # Asterisk
        $du = "sip:172.31.27.128:5062";
        t_relay();
        exit;
    }

    # OPTIONS
    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    # DEFAULT
    if (lookup("location")) {
        t_relay();
        exit;
    }

    sl_send_reply("404", "Not Found");
}

onreply_route[1] {
    if (is_method("INVITE")) {
        rtpengine_manage("replace-origin replace-session-connection ICE=remove");
    }
}

#### REQUIRED FOR WEBSOCKET ####

event_route[xhttp:request] {
    send_reply("200", "OK");
}
